# dependencies
node_modules/
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/patches
.pnp.*
.yarnrc.yml

# build outputs
.dist/
dist/
.esbuild/
.esbuild.cache/
.serverless/
coverage/
.cache/
tmp/
temp/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# env & local configs
.env
.env.*
*.local

# IDEs
.vscode/
.idea/
*.swp
.DS_Store
